---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 19, 2025')}
	heroImage="/blog-placeholder-about.jpg"
>


	<p>
		Hi, I’m Caley Burton! I'm a content operations leader with a passion for creating intuitive documentation experiences for customers. I like to joke my real job is to help customers log off on time everyday because they could find the answers they were looking for in our documentation. 
	</p>
	<p>		
		My technical communications journey began in college, where I pursued a minor in rhetoric and writing and fell in love with the creative process of translating technical information into clear, concise, and easy-to-follow product documentation. It wasn’t long after I graduated I landed my first technical writing position, creating internal user manuals at Legalzoom.
	</p>
	<p>
		When I'm not talking about technical documentation and content strategy, you can find me volunteering at the food bank, playing TTRPGs with friends, reading sci-fi and fantasy novels, or watching women’s sports.
	</p>

</Layout>
