---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Caley Burton | Portfolio</h1>
			<p>
				Welcome to my portfolio! 
			</p>
			<p>
				This is a one-stop shop where you can learn about me, my experience, and leadership philosophy. <br><br>
				Additionally, you can also read my content thoughts on all things content operations, organizing the Austin chapter of Write the Docs, and more.
			</p>
			
			<ul>
				<li>Learn more <a href="https://caleyburton.pages.dev/about/">about me</a>.</li>
				<li>Read my <a href="https://caleyburton.pages.dev/blog/">blog</a>.</li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
