---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Caley Burton | Content Thoughts</h1>
			<p>
				Hello, world! 
			</p>
			<p>
				This is a one-stop shop where you can learn about me, my experience, and leadership philosophy. <br><br>
				Additionally, you can also read my content thoughts on all things content operations, organizing the Austin chapter of Write the Docs, volunteering as a proofreader for the Austin History Center, and more.
			</p>
			
			<ul>
				<li>Learn more <a href="https://caleyburton.pages.dev/about/">about me</a>.</li>
				<li>Read my <a href="https://caleyburton.pages.dev/blog/">blog</a>.</li>
			</ul>
		    <h2>Full disclosure</h2>
			<p>
				I am using this tiny website as a means of sharpening my HTML, CSS, Git, Markdown, and CLI skills or familiarizing myself with Astro, Cloudflare, and other tech tools out there. If you see an issue, let me know. I will use it as an opportunity to grow my skillset!
			</p>
			
		</main>
		<Footer />
	</body>
</html>
